@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  src: url('../fonts/Inter-Medium.ttf'), url('../fonts/Inter-Regular.ttf'),
    url('../fonts/Inter-Medium.ttf'), url('../fonts/Inter-Light.ttf'),
    url('../fonts/Inter-ExtraLight.ttf'),
    url('../fonts/Inter-ExtraBold.ttf'), url('../fonts/Inter-Bold.ttf'),
    url('../fonts/Inter-Black.ttf');
  font-family: 'PoppinsFont';
}

@font-face {
  src: url('../fonts/iranSans/IRANSansXFaNum-Regular.woff'),
    url('../fonts/iranSans/IRANSansXFaNum-Medium.woff'),
    url('../fonts/iranSans/IRANSansXFaNum-Black.woff'),
    url('../fonts/iranSans/IRANSansXFaNum-Bold.woff'),
    url('../fonts/iranSans/IRANSansXFaNum-DemiBold.woff'),
    url('../fonts/iranSans/IRANSansXFaNum-ExtraBold.woff'),
    url('../fonts/iranSans/IRANSansXFaNum-Light.woff'),
    url('../fonts/iranSans/IRANSansXFaNum-Thin.woff'),
    url('../fonts/iranSans/IRANSansXFaNum-UltraLight.woff');
  font-family: 'IRANSansX';
}

@font-face {
  src: url('../fonts/fontPeyda/Peyda-Regular.ttf'),
    url('../fonts/fontPeyda/Peyda-Medium.ttf'),
    url('../fonts/fontPeyda/Peyda-Black.ttf'),
    url('../fonts/fontPeyda/Peyda-Bold.ttf'),
    url('../fonts/fontPeyda/Peyda-ExtraBold.ttf'),
    url('../fonts/fontPeyda/peyda-light.ttf'),
    url('../fonts/fontPeyda/Peyda-SemiBold.ttf'),
    url('../fonts/fontPeyda/Peyda-Thin.ttf'),
    url('../fonts/fontPeyda/peyda-extralight.ttf');
  font-family: 'Peyda';
}
